:root{
    --black: #131313;
    --darkgray: #212329;
    --brightred: #f9423D;
    --white: #fff;
    --lightred: #f9433dcc;
    --pink: #fe3b6f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
/* NavBar */
.nav_container {
    width: 100%;
    background-color: var(--darkgray);
}

.navbar{
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
    position: sticky;
}

#navbar_logo{
    color: var(--white);
    justify-self: start;
    margin-left: 20px;
}

.nav_menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav_links{
    color: white;
    text-decoration: none;
}

.nav_links:hover {
    color: var(--brightred);
    transition: all 0.2s ease-out;
}

.nav_links_btn{
    background-color: var(--brightred);
    padding: 6px 16px;
    border-radius: 4px;
}

.nav_links_btn:hover{
    background-color: transparent;
    color: var(--white);
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1x var(--brightred);
    transition: all 0.3s ease-out;
}

.menu_toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.2s ease-out;
    background: var(--white);
}

@media screen and (max-width: 768px){
    .nav_container {
        position: sticky;
    }

    .nav_menu{
        display: grid;
        grid-template-columns: auto;
        background: var(--brightred);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    #navbar_logo{
        margin-left: 20px;
    }

    .nav_menu.active{
        background: var(--darkgray);
        left: 0;
        opacity: 1;
        transition: all 0.5 ease;

    }

    .nav_links{
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }

    .nav_links:hover{
        background-color: var(--brightred);
        color: var(--white);
        transition: all 0.4s ease-out;
    }

    .navbar{
        width: 100%;
    }

    .nav_links_btn{
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--darkgray);
        color: var(--white);
        transition: all 0.4s ease-out;
    }

    .nav_links_btn:hover{
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--brightred);
        color: var(--white);
        transition: all 0.4s ease-out;
    }

    #mobile_menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .menu_toggle .bar{
        display: block;
        cursor: pointer;
    }

    .menu_toggle:hover{
        cursor: pointer;
    }

    #mobile_menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile_menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile_menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

  /* About Section */
  .main {
    background-color: var(--black);
    padding: 10rem 0;
  }
  
  .main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
  }
  
  .main_content {
    color: var(--white);
    width: 100%;
  }
  
  .main_content h1 {
    font-size: 2rem;
    background-color: var(--pink);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  
  .main_content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
  }
  
  /* Mobile Responsive */
  @media screen and (max-width: 1100px) {
    .main_container {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      height: 90%;
    }
  
    .main_img--container {
      display: flex;
      justify-content: center;
    }
  
    .main_img--card {
      height: 425px;
      width: 425px;
    }
  
    .main_content {
      text-align: center;
      margin-bottom: 4rem;
    }
  
    .main_content h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
    }
  
    .main__content h2 {
      font-size: 3rem;
    }
  
    .main_content p {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .main_img--card {
      width: 250px;
      height: 250px;
    }
  
    .fa-users,
    .fa-layer-group {
      font-size: 4rem;
    }
  
    .main_content h1 {
      font-size: 2rem;
      margin-top: 3rem;
    }
    .main_content h2 {
      font-size: 2rem;
    }
  
    .main_content p {
      margin-top: 2rem;
    }

  }

    /* Education Section */
    .edu {
      background-color: var(--black);
      padding: 10rem 0;
    }
    
    .edu_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      height: 90%;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0 50px;
    }
    
    .edu_content {
      color: var(--white);
      width: 100%;
    }
    
    .edu_content h1 {
      font-size: 2rem;
      background-color: var(--pink);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      text-transform: uppercase;
      margin-bottom: 32px;
    }
    
    .edu_content p {
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: 700;
    }
    
  /* Experiance Section */
  .exp {
    background: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
  }
  
  .exp h1 {
    background-color: var(--pink);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
  }
  
  .exp_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  
  .exp_card {
    margin: 100px;
    height: 425px;
    width: 550px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    transition: 0.3s ease-in;
  }
  
  
  .exp_card h2 {
    text-align: center;
  }
  

  .exp_card h3 {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
  }

  .exp_card h4 {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
  }
  
  .exp_card h5 {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
  }
  
  
  .exp_card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
  }
  
  @media screen and (max-width: 1300px) {
    .exp_wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 768px) {
    .exp_wrapper {
      grid-template-columns: 1fr;
    }
  }

/* Service Section */
  .services {
  background: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.services h1 {
  background-color: var(--pink);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.services_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.services_card {
  margin: 5px;
  height: 425px;
  width: 250px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  transition: 0.3s ease-in;
}

.services_card:nth-child(2) {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
}

.services_card:nth-child(3) {
  background-image: linear-gradient(
    -225deg,
    #3f15d6 0%,
    #44107a 29%,
    #d3668a 67%,
    #d6d6c5 100%
  );
}

.services_card:nth-child(4) {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
}

.services_card h2 {
  text-align: center;
}

.services_card p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.services_card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 1300px) {
  .services_wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .services_wrapper {
    grid-template-columns: 1fr;
  }
}

    /* Contact Section */
    .contact {
      background-color: var(--black);
      padding: 10rem 0;
    }
    
    .contact_container {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      height: 90%;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0 50px;
    }
    
    .contact_content {
      color: var(--white);
      width: 100%;
    }
    
    .contact_content h1 {
      font-size: 2rem;
      background-color: var(--pink);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      text-transform: uppercase;
      margin-bottom: 32px;
    }
    
    .contact_content p {
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: 700;
    }